* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
  
body {
  font-family: 'montserrat', sans-serif;
}

.app-wrap {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
  
.center-inline {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding:1.5rem;
  margin: 1rem;
  max-width:32rem;
  width:75%;
}

.mg-btm{
  margin-bottom:1rem;
}

.mg-top{
  margin-top:1rem;
}

.mg-rgt{
  margin-right: 1rem;
}

.flex{
  display: flex;
}

.input-box {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  border-width:1px;
  width:100%;
  margin-right: 1rem;
  border-color: light-grey;
  border-radius: 2px;

}

.btn1 {
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem 0.5rem 0.25rem 0.25rem;
  text-align:center;
  background-color: rgba(79,70,229);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25rem;
  color:white;
}

.btn2 {
  flex: 0 0 auto;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin: 0.25rem 0.5rem 0.25rem 1rem;
  text-align:center;
  
  border-style: solid;
  border-width: 2px;
  border-radius: 0.25rem;
  color:white;
  text-transform: none;
}
.bg-green{
  background-color:rgba(5,150,105);
}

.bg-red{
  background-color:rgba(239,68,68);
}

.list-item{
  display: flex;
  align-items:center;
  margin-bottom:1rem;
}

.list-item-p{
  width: 100%;
  margin:0;
}

.heading{
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: rgba(79,70,229);
}
  


  
  